:host {
  display: inline;
  vertical-align: middle;
}

.text {
  align-items: center;
  display: inline-flex;
  line-height: 1.3;
  vertical-align: middle;
}

@each $key, $value in map-get-deep($typography, size) {
  .text.-size-#{$key} {
    font-size: $value;
  }
}

@each $key, $value in map-get-deep($typography, family) {
  .text.-family-#{$key} {
    font-family: $value;
  }
}
